/*
*= require_tree .
*= require slick
*= require slick-theme
*= require_self
*/

html {
  box-sizing: border-box;
  font-size: 0.75em;
}

@media screen and (min-width: 50em) {
  html {
    font-size: 1em;
  }
}

@media screen and (min-width: 75em) {
  html {
    font-size: 1.25em;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #e9ece5;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

footer {
  background: white;
  bottom: 0;
  padding-top: 10px;
  position: absolute;
  text-align: center;
  width: 100%;
}

footer .logo {
  max-width: 100px;
}
